header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1a73e8;
}

nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

a {
    margin: 10px 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}